Repository Epitech-Nantes-Tek3/AREA, pull requests merged in 2023-02, with the labels that each got.

#67 Improve the logic of the app
  Application/src/Common/Interfaces.ts
  Application/src/Components/AreaBlock.tsx
  Application/src/Screens/AddArea.tsx
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/HomeScreen.tsx
  Application/src/Screens/SettingsScreen.tsx
  Application/src/Screens/SignInScreen.tsx
Labels: Mobile

#60 56 link front authentification with backend authentification
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/SignInScreen.tsx
  Server/Services/googleService.js
  Server/Services/twitterService.js
  Server/app.js
  Server/firebaseFunctions.js
Labels: Server, Mobile, DataBase

#65 61 creation of the reading of user areas
  Server/Services/areasFunctions.js
  Server/app.js
Labels: Server, DataBase, Services

#68 62 improvement of the action reaction services
  Application/.gitignore
  Application/package.json
  Server/Services/ISSStationService.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/app.js
Labels: Services

#74 Fix bug missing profile dependencies
  Application/ios/Podfile
  Application/ios/area.xcodeproj/project.pbxproj
Labels: iOS

#71 63 creation of the function that executes the areas
  Server/Services/ISSStationService.js
  Server/Services/areasFunctions.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/Services/twitterService.js
  Server/app.js
  Server/firebaseFunctions.js
Labels: Server, DataBase, Services

#72 7 create an apk release of the android app
  .github/workflows/CI.yml
  Application/.gitignore
  Application/Dockerfile
  Application/android/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
  Application/android/.gradle/7.4/dependencies-accessors/gc.properties
  Application/android/.gradle/7.4/fileChanges/last-build.bin
  Application/android/.gradle/7.4/gc.properties
  Application/android/.gradle/buildOutputCleanup/cache.properties
  Application/android/.gradle/vcs-1/gc.properties
  Server/Dockerfile
  Web/Dockerfile
  Web/src/App.js
Labels: Mobile, Docker setup

#85 implement the forgot password
  .gitignore
  Application/src/Screens/ConnexionScreen.tsx
  Server/app.js
  Server/firebaseFunctions.js
Labels: Server, Mobile

#77 Implement Web front end
  Web/package.json
  Web/public/index.html
  Web/src/AddAreaPage.js
  Web/src/App.js
  Web/src/AuthPage.css
  Web/src/AuthPage.js
  Web/src/Common/Areas.js
  Web/src/HomePage.js
  Web/src/MainPage.css
  Web/src/MainPage.js
  Web/src/assets/add.png
  Web/src/assets/checkCircle.png
  Web/src/assets/google.png
  Web/src/assets/iss.png
  Web/src/assets/meteo.png
  Web/src/assets/nasa.png
  Web/src/assets/spotify.png
  Web/src/assets/strava.png
  Web/src/assets/trash.png
  Web/src/assets/twitch.png
  Web/src/assets/twitter.png
  Web/src/logo.svg
Labels: Web

#81 79 Fix redirection when user isn't connected with facebook/google button
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/SignInScreen.tsx
Labels: bug, Mobile

#90 89-bug-pull-request-review-trigger-in-ci
  .github/workflows/CI.yml
Labels: bug, Workflow

#91 87-create-an-area-release-available-on-github-release
  .github/workflows/CI.yml
  .github/workflows/Release.yml
Labels: Workflow

#88 41 implement oauth authentification
  Web/.gitignore
  Web/package.json
  Web/src/AuthPage.css
  Web/src/AuthPage.js
Labels: Web

#93 86 Improve the Current ReadMe
  README.md
Labels: documentation, enhancement

#83 75 - Creation of the area in the db (back)
  .gitignore
  Application/src/Common/Areas.ts
  Application/src/Common/Interfaces.ts
  Application/src/Screens/AddArea.tsx
  Application/src/Screens/HomeScreen.tsx
  Application/src/Screens/SettingsScreen.tsx
  Application/src/Screens/SignInScreen.tsx
  Server/Services/ISSStationService.js
  Server/Services/areasFunctions.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/Services/twitterService.js
  Server/app.js
  Server/firebaseFunctions.js
  package.json
Labels: DataBase, Services

#78 76 services descriptions
  .gitignore
  Server/Services/description/IssStationService.json
  Server/Services/description/OpenMeteoService.json
  Server/Services/description/googleService.json
  Server/Services/description/twitterService.json
Labels: documentation

#97 92 run a task regularly
  Server/app.js
  Server/firebaseFunctions.js
  Server/package.json
Labels: enhancement, Server

#98 Get the areas from a user
  Application/src/Screens/AddArea.tsx
  Application/src/Screens/HomeScreen.tsx
  Application/src/Screens/SettingsScreen.tsx
  Server/app.js
Labels: Server, Mobile

#101 99 register twitter account in all other account
  Server/Services/twitterService.js
Labels: Server, Mobile, DataBase

#103 Fix error of var overrided
  Application/src/Screens/SettingsScreen.tsx
  Application/src/Screens/SignInScreen.tsx
Labels: Mobile

#116 Add server status and modification on app
  Application/src/Common/Interfaces.ts
  Application/src/Screens/AddArea.tsx
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/HomeScreen.tsx
  Application/src/Screens/SettingsScreen.tsx
  Application/src/Screens/SignInScreen.tsx
  Server/app.js
Labels: Server, Mobile

#106 fix demo bug
  Application/package.json
Labels: bug, iOS

#115 Change AREA ids and add function to remove areas
  Application/package.json
  Application/src/Common/Interfaces.ts
  Application/src/Screens/AddArea.tsx
  Application/src/Screens/HomeScreen.tsx
  Server/Services/areasFunctions.js
  Server/app.js
  Server/firebaseFunctions.js
Labels: Server, Mobile, DataBase

#109 94 create server documentation
  .github/workflows/Documentation.yml
  Server/.gitignore
  Server/Services/ISSStationService.js
  Server/Services/areasFunctions.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/Services/twitterService.js
  Server/firebaseFunctions.js
  Server/package.json
  Server/readme.md
  Web/.gitignore
Labels: documentation, Server, Workflow

#123 Bad password handling
  Application/src/Screens/ConnexionScreen.tsx
  Web/src/AuthPage.js
Labels: Mobile, Web

#135 Change ip var to remove Areas
  Application/src/Screens/HomeScreen.tsx
Labels: Mobile

#132 114 Connect to Spotify
  Application/src/Common/Areas.ts
  Server/Services/description/spotifyService.json
  Server/Services/spotifyServices.js
  Server/app.js
  Server/package.json
  Web/src/Common/Areas.js
Labels: documentation, Server, Services

#127 122 create web profile page
  .github/scripts/docker-compose-consistancy.sh
  Web/src/AddAreaPage.js
  Web/src/App.js
  Web/src/AuthPage.js
  Web/src/CacheManagement.js
  Web/src/Common/Login.js
  Web/src/HomePage.js
  Web/src/SettingsPage.js
  Web/src/assets/arrowRight.png
  Web/src/assets/avatar.png
  Web/src/assets/deconnexion.png
  Web/src/assets/locate.png
Labels: Web

#141 140 bug remove useless issue template
  .github/ISSUE_TEMPLATE/Improved_feature.md
  .github/ISSUE_TEMPLATE/New_feature.md
Labels: Workflow

#137 129 Create changelog file
  Changelog.md
Labels: documentation

#145 142-bug-documentation-on-spotify-service
  Server/Services/spotifyServices.js
Labels: documentation, Workflow

#146 143-bug-inscription-page-input-dispawn
  Server/.gitignore
  Web/src/AuthPage.js
Labels: bug, Web

#147 138 improvement home page more beautiful
  Web/package.json
  Web/src/AddAreaPage.js
  Web/src/Common/Loading.css
  Web/src/Common/Loading.js
  Web/src/HomePage.css
  Web/src/HomePage.js
Labels: Web

#150 148 improvement cache management on web
  Web/src/AddAreaPage.js
  Web/src/AuthPage.js
  Web/src/CacheManagement.js
  Web/src/Common/CacheManagement.js
  Web/src/Common/Login.js
  Web/src/HomePage.js
  Web/src/SettingsPage.js
Labels: Web

#152 144 Connect to spotify (User)
  Application/src/Screens/SettingsScreen.tsx
  Server/Services/spotifyServices.js
  Server/app.js
  Server/package.json
  Web/package.json
  Web/src/SettingsPage.js
Labels: Mobile, Web, Services

#154 96 Confirmation Password Web
  Web/src/AuthPage.css
  Web/src/AuthPage.js
Labels: bug, Web

#153 Create ip button on web
  Web/package.json
  Web/src/AddAreaPage.js
  Web/src/App.js
  Web/src/AuthPage.js
  Web/src/Common/Login.js
  Web/src/Common/config.js
  Web/src/HomePage.js
  Web/src/SettingsPage.js
Labels: Web

#136 implementation of the twitch access token, and get user info by login…
  Application/src/Common/Areas.ts
  Application/src/Screens/SettingsScreen.tsx
  Server/Services/TwitchService.js
  Server/Services/areasFunctions.js
  Server/Services/description/twitchService.json
  Server/app.js
  Server/package.json
  Web/src/App.js
  Web/src/Common/Areas.js
  Web/src/SettingsPage.js
Labels: Services

#156 add the default position for each user
  Server/firebaseFunctions.js
Labels: Server

#151 Refactor addArea page
  Application/src/Screens/SettingsScreen.tsx
  Web/.gitignore
  Web/src/AddAreaPage.js
  Web/src/Common/Areas.js
  Web/src/HomePage.js
  package.json
Labels: Web

#163 162 Missing Twitter Package on Server
  Server/package.json
Labels: bug, Server

#160 158 improvement comments on all server functions
  Server/Services/ISSStationService.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/app.js
  Server/firebaseFunctions.js
Labels: documentation

#165 161 bug useeffect doesnt work with cache
  Web/src/AddAreaPage.js
  Web/src/AuthPage.js
  Web/src/Common/Login.js
  Web/src/HomePage.js
  Web/src/SettingsPage.js
Labels: Web

#168 Fix error removing area
  Application/src/Screens/HomeScreen.tsx
  Server/app.js
  Server/firebaseFunctions.js
Labels: Server

#171 157 bug facebook login does not seems to work
  Web/src/AuthPage.js
  Web/src/SettingsPage.js
Labels: bug

#174 172 Improvement spotifyservice with arealoop
  Application/src/Common/Areas.ts
  Application/src/Common/Interfaces.ts
  Application/src/Screens/SettingsScreen.tsx
  Server/Services/areasFunctions.js
  Server/Services/spotifyServices.js
  Server/app.js
  Web/src/Common/Areas.js
  Web/src/SettingsPage.js
Labels: Server, Services

#179 178 feature create web documentation
  .github/workflows/Documentation.yml
Labels: Web, Workflow

#177 175 feature download apk
  Web/src/HomePage.js
Labels: Web

#176 33 test the nbservice nbaction and nbreation
  .github/scripts/count-actions-reactions.sh
  .github/scripts/count-services.sh
  .github/workflows/CI.yml
  Server/Services/description/IssStationService.json
  Server/Services/description/OpenMeteoService.json
  Server/Services/description/googleService.json
  Server/Services/description/twitchService.json
  Server/Services/description/twitterService.json
Labels: Workflow

#181 180-bug-web-documentation-doesnt-work
  Web/readme.md
Labels: Web

#182 Fix spotify connextion on web page
  Web/src/SettingsPage.js
Labels: bug, Web

#183 169 improvement aboutjson
  Server/app.js
Labels: Server

#186 164 bug clientapk does not launch anymore
  README.md
Labels: bug, documentation

#187 Fix documentation generation for web
  .github/workflows/Documentation.yml
  Web/src/AddAreaPage.js
  Web/src/App.js
  Web/src/AuthPage.js
  Web/src/Common/CacheManagement.js
  Web/src/Common/Loading.js
  Web/src/Common/Login.js
  Web/src/HomePage.js
  Web/src/index.js
Labels: bug, Web

#190 188 Bug Reactions and Spotify Actions
  Server/Services/areasFunctions.js
  Server/Services/googleService.js
  Server/Services/spotifyServices.js
  Server/Services/twitterService.js
Labels: bug, Server, Services

#194 173 improvement twitter authentification
  Application/src/Screens/SettingsScreen.tsx
  Server/Services/twitterService.js
  Server/app.js
  Web/readme.md
  Web/src/SettingsPage.js
Labels: Mobile, Web, DataBase, Services

#198 add redirect to about.json in homepage
  Server/app.js
Labels: Server

#201 200 - Facebook Button on Sign-up Page
  Web/src/AuthPage.js
Labels: Web

#199 [IMPROVEMENT]: Twitch Tokens
  Server/.gitignore
  Server/app.js
Labels: Services

#206 169 - Improve the view of the about.json without extensions
  Server/app.js
Labels: Server

#205 204 Messages for Tokens Durability
  Server/Services/spotifyServices.js
  Server/Services/twitterService.js
  Server/app.js
Labels: Bonus
