Repository Epitech-Nantes-Tek3/AREA, pull requests merged in 2023-03, with the labels that each got.

#208 add firebase documentation
  Server/firebaseDocumentation.md
Labels: documentation, DataBase

#213 209 bug no google authentication when creating the account on the web side
  Web/src/AuthPage.js
Labels: Web

#210 Create developer documentation to create a Service or create AREAs
  Contributing.md
  CreateAREA.md
  CreateService.md
Labels: documentation

#219 218 improvement adding missing documentation to the server
  Server/Dockerfile
  Server/Services/ISSStationService.js
  Server/Services/googleService.js
  Server/Services/spotifyServices.js
  Server/app.js
  Server/firebaseFunctions.js
  Server/views/dash.ejs
  Server/views/index.ejs
Labels: documentation

#192 48 create first test for react
  Web/.gitignore
  Web/package.json
  Web/playwright.config.js
  Web/src/AddAreaPage.js
  Web/src/App.js
  Web/src/HomePage.js
  Web/src/serverIP.js
  Web/tests/CancelCreateArea.spec.js
  Web/tests/ClientAPKPage.spec.js
  Web/tests/ConnectAndDeconnect.spec.js
  Web/tests/CreateAndRemoveArea.spec.js
Labels: Web, Workflow

#215 214 improvement reimplementation of strava
  Application/android/app/build.gradle
  Application/package.json
  Application/src/Common/Areas.ts
  Application/src/Screens/SettingsScreen.tsx
  Server/Services/areasFunctions.js
  Server/Services/description/StravaService.json
  Server/Services/stravaService.js
  Server/app.js
  Server/package.json
  Web/package.json
  Web/src/AuthPage.js
  Web/src/Common/Areas.js
  Web/src/SettingsPage.js
Labels: Mobile, Web, Services

#221 212 feature add confirmation mail after register
  .gitignore
  Server/firebaseFunctions.js
  Web/src/AuthPage.js
  terraform/.gitignore
Labels: Web

#223 222 improvement buttons in add area page
  Web/src/AddAreaPage.js
Labels: Web

#224 211 bug cant logout with facebook
  Web/src/SettingsPage.js
Labels: bug

#228 update strava documentation to appear in github.io
  Server/Services/stravaService.js
Labels: documentation

#229 Update README.md
  README.md
Labels: documentation

#226 225 improvement allow clear traffic for ios and android
  Application/android/app/src/main/AndroidManifest.xml
  Application/android/app/src/main/res/xml/network_security_config.xml
Labels: Android

#231 216 bug user token isnt set in db with fb auth
  .github/workflows/CI.yml
  Application/serverIP.ts
  Application/src/Common/Interfaces.ts
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/SettingsScreen.tsx
  Application/src/Screens/SignInScreen.tsx
  Server/.gitignore
  Server/Dockerfile
  Server/app.js
  Server/firebaseFunctions.js
  Server/package.json
  Web/src/AuthPage.js
  Web/src/Common/Login.js
  Web/src/SettingsPage.js
  Web/src/serverIP.js
Labels: bug
