Repository Epitech-Nantes-Tek3/AREA, pull requests merged in 2023-01, with the labels that each got.

#9 Splashscreen IOS
  Application/ios/area/Images.xcassets/AppIcon.appiconset/Contents.json
  Application/ios/area/Images.xcassets/AppIcon.appiconset/Logo-2.png
  Application/ios/area/Images.xcassets/Contents.json
  Application/ios/area/Images.xcassets/LogoArea.imageset/Contents.json
  Application/ios/area/Images.xcassets/LogoArea.imageset/LogoArea1024_1024.png
  Application/ios/area/Images.xcassets/LogoArea.imageset/LogoArea341.png
  Application/ios/area/Images.xcassets/LogoArea.imageset/LogoArea682.png
  Application/ios/area/Info.plist
  Application/ios/area/LaunchScreen.storyboard
Labels: Mobile, iOS

#23 21 poc interaction between two services
  Server/.gitignore
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/app.js
  Server/package.json
Labels: Server, PoC

#19 14 about server management
  Application/.gitignore
  Server/Services/description/template.json
  Server/app.js
Labels: Server

#26 20 add authentification process
  Server/.gitignore
  Server/app.js
  Server/config.js
  Server/package.json
Labels: Server

#25 24 connection between the firebase database and the server
  Server/.gitignore
  Server/RealTimeDB.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/app.js
Labels: Server, PoC, DataBase

#28 27 fix issue template
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Bug_report.yml
  .github/ISSUE_TEMPLATE/Improved_feature.md
Labels: bug

#32 31 bug report template doesn't work
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: bug

#35 30 fix googleservice
  Server/RealTimeDB.js
  Server/Services/googleService.js
  Server/Services/openMeteoService.js
  Server/app.js
  Server/firebaseFunctions.js
Labels: bug, Server

#39 Implement HomeScreen
  Application/index.js
  Application/src/Common/Interfaces.ts
  Application/src/Components/AreaBlock.tsx
  Application/src/Components/Circles.tsx
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/HomeScreen.tsx
  Application/src/Screens/SignInScreen.tsx
  Application/src/assets/add.png
  Application/src/assets/avatar.png
  Application/src/assets/trash.png
Labels: Mobile

#44 12 setup the docker services
  Application/Dockerfile
  README.md
  Server/.gitignore
  Server/Dockerfile
  Server/package.json
  Web/.gitignore
  Web/Dockerfile
  Web/package.json
  Web/public/favicon.ico
  Web/public/index.html
  Web/public/manifest.json
  Web/public/robots.txt
  Web/src/App.css
  Web/src/App.js
  Web/src/App.test.js
  Web/src/index.css
  Web/src/index.js
  Web/src/logo.svg
  Web/src/reportWebVitals.js
  Web/src/setupTests.js
  core-js-banners
  docker-compose.yml
  package.json
Labels: Web, Docker setup

#45 34 test docker compose
  .github/scripts/docker-compose-existing-files.sh
  .github/workflows/CI.yml
  .gitignore
Labels: Workflow

#52 Added all functions allowing tweet, retweet like
  Server/Services/twitterService.js
  Server/app.js
  Server/package.json
  Server/views/dash.ejs
  Server/views/index.ejs
Labels: Server, Services

#50 implement add area page and SettingsPage
  Application/android/app/src/main/AndroidManifest.xml
  Application/android/build.gradle
  Application/index.js
  Application/ios/File.swift
  Application/ios/area-Bridging-Header.h
  Application/ios/area.xcodeproj/project.pbxproj
  Application/ios/area.xcodeproj/xcshareddata/xcschemes/area.xcscheme
  Application/ios/area/Info.plist
  Application/package.json
  Application/src/Common/Areas.ts
  Application/src/Common/Interfaces.ts
  Application/src/Navigator/index.ts
  Application/src/Screens/AddArea.tsx
  Application/src/Screens/ConnexionScreen.tsx
  Application/src/Screens/HomeScreen.tsx
  Application/src/Screens/SettingsScreen.tsx
  Application/src/assets/arrowRight.png
  Application/src/assets/checkCircle.png
  Application/src/assets/locate.png
  Application/src/assets/logo/google.png
  Application/src/assets/logo/iss.png
  Application/src/assets/logo/meteo.png
  Application/src/assets/logo/nasa.png
  Application/src/assets/logo/spotify.png
  Application/src/assets/logo/strava.png
  Application/src/assets/logo/twitch.png
  Application/src/assets/logo/twitter.png
Labels: Mobile

#51 47 create first test for react native
  .github/workflows/CI.yml
  Application/.detoxrc.js
  Application/README.md
  Application/android/app/build.gradle
  Application/android/app/src/androidTest/java/com/area/detoxtest/DetoxTest.java
  Application/android/app/src/main/AndroidManifest.xml
  Application/android/app/src/main/res/xml/network_security_config.xml
  Application/android/build.gradle
  Application/e2e/jest.config.js
  Application/e2e/starter.test.js
  Application/package.json
  Application/src/Screens/ConnexionScreen.tsx
Labels: Mobile, Android

#55 Add Action : Distance between User (Database) and ISS Station
  Server/Services/ISSStationService.js
  Server/app.js
  Server/package.json
Labels: Server, DataBase, Services

#64 Create Sign Pages for AREA
  Web/.gitignore
  Web/Dockerfile
  Web/package.json
  Web/public/index.html
  Web/src/App.css
  Web/src/App.js
  Web/src/App.test.js
  Web/src/AuthPage.css
  Web/src/AuthPage.js
  Web/src/MainPage.css
  Web/src/MainPage.js
  Web/src/assets/logo.png
  Web/src/index.js
  Web/src/reportWebVitals.js
  Web/src/setupTests.js
Labels: Web, PoC
